/* To remove the under-scroll bar */
body{
    overflow-x: hidden;
}
/* To remove the two-side space */
.header-container{
    padding: 0;
}

/* To let the title, logo and search box be low */
.header{
    display: flex;
    align-items: flex-end;
}

/* To let the title be center */
.header-title{
    display: flex;
    justify-content: center;
    color: red;
    font-style: italic;
}

.header-logo{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.header-logo img{
    width: 150px;
    height: 110px;
}

.menu{
    display: flex;
    justify-content: center;
    background-color: #0EC0C3;
    height: 50px;
}

.menu li.active{
    background-color: red;
}

h2{
    display: flex;
    justify-content: center;
    color: #0EC0C3;
}

.img-sub{
    height: 170px;
    padding: 5px 0;
}

h1{
    display: flex;
    justify-content: center;
    color: #0EC0C3;
}

.motor-image{
    width: 342px;
    height: 360px;
}

.best-seller-title{
    color: orange;
}

.footer{
    background-color: #0EC0C3;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
}

@media only screen and (max-width: 426px){
    .header{
        flex-direction: column;
        align-items: center;
    }

    .menu{
        justify-content: flex-end;
        height: max-content;
    }

    .navbar-header{
        width: 100vw;
    }

    .img-sub{
        width: 690px;
        height: max-content;
    }
}