.container{
    display: grid;
    /* 3 rows */
    grid-template-rows: 25% 25% 25% 25%;
    /* 3 cols */
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: gray;
    height: 500px;
    width: 700px;
}

.head{
    background-color: red;
    grid-column: 1/6;
}
.menu{
    background-color: orange;
    grid-row: 2/5;
}
.main{
    background-color: yellow;
    grid-column: 2/5;
    grid-row: 2/4;
}
.right{
    background-color: green;
    grid-row: 2/4;
    grid-column: 5/6;
}
.footer{
    background-color: blue;
    grid-row: 4/5;
    grid-column: 2/6;
}