.container{
    display: grid;
    /* 4 rows */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* 12 cols */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: gray;
}

.header{
    background-color: red;
    grid-column: 1/13;
}
.icon{
    display: none;
}
.menu{
    background-color: orange;
    grid-column: 1/3;
    grid-row: 2/4;
}
.main{
    background-color: white;
    grid-column: 3/11;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
}
.card{
    background-color: gray;
    height: 150px;
}
.right{
    background-color: green;
    grid-column: 11/13;
}
.footer{
    background-color: blue;
    grid-column: 3/13;
}

@media screen and (max-width: 1200px){
    .header{
        grid-column: 1/7;
    }
    .menu{
        grid-column: 7/13;
        grid-row: 1/2;
    }
    .main{
        grid-column: 1/13;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .right{
        grid-column: 1/13;
    }
    .footer{
        grid-column: 1/13;
    }
}

@media screen and (max-width: 750px){
    .header{
        grid-column: 1/12;
    }
    .icon{
        display: block;
        grid-column: 12/13;
        background-color: red;
    }
    .menu{
        display: none;
    }
    .main{
        grid-column: 1/13;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .right, .footer{
        grid-column: 1/13;
    }
}

@media screen and (max-width: 400px){
    .main{
        grid-column: 1/13;
        display: grid;
        grid-template-columns: 1fr;
    }
}