.container{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    
    /* justify-content: flex-end; */
    /* center, space-between, space-around, space-evenly */
    
    /* align-items: flex-end; */
    /* center */
    background-color: gray;
    width: 600px;
    height: 600px;
}

.item{
    /* for flex-wrap */
    /* width: 300px; */
    width: 150px;
    height: 100px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
    flex-grow: 1;
}

.blue{
    background-color: blue;
}