body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
    background-color: lightgray;
}

nav{
    background-color: lightblue;
}

li{
    display: inline-block;
    width: 30%;
}

h1{
    text-align: center;
    color: rgb(66, 41, 154);
    font-family: 'Courier New', Courier, monospace;
}

main{
    background-color: yellow;
    font-size: 20px;
}

p{
    line-height: 25px;
}